@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0f1014;
  --color-accent: #00eaff;
  --color-secondary: #1e2028;
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-primary text-white font-sans;
}